@charset "UTF-8";
body:not(.render_raw) {
  font-family: "Montserrat",sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: black; }
  body:not(.render_raw) a {
    color: #424242;
    text-decoration: none;
    background-color: transparent; }
  body:not(.render_raw) header {
    background-color: #333333;
    border-bottom: 2px solid gray;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.1), 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    align-items: stretch;
    color: #e6e6e6; }
    body:not(.render_raw) header a {
      color: #cccccc; }
    body:not(.render_raw) header > div {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: stretch;
      white-space: nowrap; }
      body:not(.render_raw) header > div img {
        height: 32px;
        margin-right: 0.5rem; }
      body:not(.render_raw) header > div .burger {
        margin-right: 1rem; }
    body:not(.render_raw) header nav.shortcuts {
      margin-left: auto;
      position: relative;
      display: flex;
      justify-content: flex-start;
      list-style-type: none;
      flex-direction: row;
      flex-wrap: nowrap; }
      body:not(.render_raw) header nav.shortcuts li {
        margin: 0px; }
        body:not(.render_raw) header nav.shortcuts li .fa {
          margin-right: 0.5rem; }
        body:not(.render_raw) header nav.shortcuts li a {
          color: #d6d6d6;
          padding: 0 1rem;
          font-weight: bold;
          font-size: 90%; }
  body:not(.render_raw) article {
    background-color: white; }
    body:not(.render_raw) article aside #close_menu {
      display: none;
      float: right;
      margin-right: 2rem; }
    body:not(.render_raw) article aside.responsive #close_menu {
      display: block; }
    body:not(.render_raw) article section.right-menu {
      padding: 3.5rem 0 3.5rem 0;
      font-size: 14px;
      line-height: 20px;
      padding-left: 2px; }
      body:not(.render_raw) article section.right-menu > div {
        margin-bottom: 2em; }
        body:not(.render_raw) article section.right-menu > div > * {
          margin-left: 5px; }
        body:not(.render_raw) article section.right-menu > div label {
          font-weight: 700;
          letter-spacing: -1px;
          display: block;
          margin-bottom: 14px;
          border-bottom: 1px dotted #999999;
          color: #333333;
          font-variant: small-caps; }
        body:not(.render_raw) article section.right-menu > div nav > ul {
          padding: 0px 0px 0px 0px;
          margin: 0px 0px 0px 0px; }
          body:not(.render_raw) article section.right-menu > div nav > ul ul {
            padding: 0px 0px 0px 14px;
            margin: 0px 0px 0px 0px;
            border-left: 1px solid #e6e6e6; }
            body:not(.render_raw) article section.right-menu > div nav > ul ul li {
              font-size: 90%; }
        body:not(.render_raw) article section.right-menu > div ul {
          list-style-type: none; }
        body:not(.render_raw) article section.right-menu > div li {
          padding: 8px 0px 8px 0px;
          font-weight: 300; }
          body:not(.render_raw) article section.right-menu > div li a {
            /*padding-left: 2px;*/ }
            body:not(.render_raw) article section.right-menu > div li a.active {
              font-weight: 500; }
      body:not(.render_raw) article section.right-menu .Actions {
        font-size: 75%; }
  body:not(.render_raw) footer {
    background-color: #333333;
    color: #cccccc;
    padding: 1rem; }
    body:not(.render_raw) footer a {
      color: #cccccc; }

article section.page {
  background-color: inherit; }
  article section.page #breadcrumb {
    display: block;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: -.01em;
    font-weight: 500; }
    article section.page #breadcrumb ol {
      padding: 0px;
      display: flex;
      flex-wrap: wrap;
      list-style: none; }
      article section.page #breadcrumb ol li {
        display: list-item; }
        article section.page #breadcrumb ol li:after {
          display: inline-block;
          padding-right: .5rem;
          padding-left: .5rem;
          color: black;
          content: "⊸"; }
        article section.page #breadcrumb ol li a {
          color: black;
          border-bottom: 1px dotted #737373;
          padding-bottom: 4px;
          padding-right: 0px; }
        article section.page #breadcrumb ol li.active:after {
          display: inline-block;
          padding-left: .75rem;
          content: ""; }
  article section.page nav.subpages {
    flex-wrap: wrap;
    display: flex;
    margin-right: -1.5rem;
    margin-left: -1.5rem;
    padding-left: 1.5em;
    position: -webkit-sticky;
    position: sticky;
    overflow-y: auto;
    top: 45px;
    background-color: inherit;
    opacity: 0.85;
    justify-content: flex-start;
    list-style-type: none; }
    article section.page nav.subpages li {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0px;
      padding-right: .4rem;
      min-width: 50px; }
      article section.page nav.subpages li a {
        font-size: 90%;
        color: #ad3a3a; }
      article section.page nav.subpages li:not(:first-child):before {
        display: inline-block;
        margin-left: 0.4em;
        padding-right: .4rem;
        color: #965151;
        content: "|"; }
      article section.page nav.subpages li.active {
        font-weight: bold; }
    article section.page nav.subpages li:first-child:before {
      content: "└ ";
      color: #965151; }
  article section.page div.jump-to-section {
    font-size: smaller;
    color: #333333; }
    .jump-to-section span:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    article section.page div.jump-to-section ul li a {
      color: #a14545; }
    article section.page div.jump-to-section nav {
      background-color: white; }
  article section.page div.chevrons {
    margin-top: 3rem;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding: 1rem 0rem;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    -webkit-box-pack: end !important;
    justify-content: flex-end !important; }
    article section.page div.chevrons a {
      display: flex;
      align-items: center !important;
      -webkit-box-align: center !important;
      justify-content: flex-end !important;
      max-width: 70%;
      padding: 24px; }
      article section.page div.chevrons a.prev {
        display: none; }
      article section.page div.chevrons a.next div {
        text-align: right;
        justify-content: flex-end;
        padding: 20px; }
      article section.page div.chevrons a label {
        font-size: 24px;
        font-weight: 700;
        cursor: pointer; }
      article section.page div.chevrons a p {
        font-size: 15px;
        padding: 0px;
        margin: 0px;
        text-align: left; }

article section.page {
  line-height: 24px;}
  article section.page h1:first-of-type {
    font-size: 2.6rem;
    margin-top: 1.5rem !important;
    color: #333333;
    margin-bottom: 0px;
    line-height: 1.05;
    letter-spacing: -.05em;
    font-weight: 800; }
    article section.page h1:first-of-type span {
      font-size: 90%;
      font-weight: 500; }
      article section.page h1:first-of-type span:before {
        padding-left: .75rem;
        padding-right: .75rem;
        color: #333333;
        content: "⊷"; }

article section.page div.content {
  margin-top: 2.5rem; }
  article section.page div.content a.anchor {
    display: block;
    position: relative;
    top: -7rem;
    visibility: hidden; }
  article section.page div.content a {
    color: #00bfa5;
    font-weight: bold; }
  article section.page div.content a:hover { 
    text-decoration: underline; }
  article section.page div.content h1 {
    color: #4d4d4d;
    font-size: 30px;
    font-variant-ligatures: none;
    font-weight: 700;
    height: 88px;
    letter-spacing: -0.75px;
    line-height: 32px; }
  article section.page div.content table {
    width: 100%;
    margin-bottom: 2em;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #e6e6e6; }
    article section.page div.content table th,
    article section.page div.content table td {
      padding: .25rem .75rem; }
    article section.page div.content table th {
      padding: 0.5rem;
      text-transform: uppercase;
      vertical-align: middle;
      text-align: center;
      font-weight: 800;
      background: #f6f6f6;
      color: black;
      border-bottom: 2px solid #e5e5e5; }
    article section.page div.content table td {
      padding: 0.5rem;
      vertical-align: middle;
      border-bottom: 1px solid #e5e5e5;
      border: 1px solid #e6e6e6;
      color: #323232; }
    article section.page div.content table td:first-child code {
      background-color: transparent;
      padding: 0; }
  article section.page div.content img {
    border: 0;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center; }
    article section.page div.content img.border {
      border: 2px solid #e6e6e6 !important;
      padding: 2px; }
    article section.page div.content img.shadow {
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); }
    article section.page div.content img.inline {
      display: inline !important;
      vertical-align: bottom; }
    article section.page div.content img.inline {
      display: inline !important;
      vertical-align: bottom; }
  article section.page div.content code {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 95%;
    background-color: #f9f1f3;
    color: #ff3860;
    word-wrap: break-word;
    padding: 1.5px 0.5px 0px;
    margin: 0px 1px;
    border-radius: 5px;
    font-weight: 500;
    white-space: pre-wrap; }
  details .detail:hover{
    cursor: pointer;
  }
  article section.page div.content div.highlight pre {
    display: block;
    white-space: pre-wrap; 
    border-radius: 5px;}
    article section.page div.content div.highlight pre code {
      color: inherit !important;
      font-size: 75%;
      display: block;

      padding: 10px;
      border: 0px;
      border-radius: 5px;
      font-weight: inherit;
      background-color: inherit; }
  article section.page div.content ul.page{
    padding:0;
  }
  article section.page div.content ul div.content-page{
    border-bottom: solid 1px #888888 ;
    margin-bottom : 20px;
    color : #7b7b7b;
    font-size: 0.9em;
    padding : 5px 0 15px;
  }
  article section.page div.content ul div.content-page a{
    color : #027f51;
    font-size : 1.3em;
  }
  article section.page div.content ul div.content-page p {
    margin-top : 10px;
  }
  article section.page div.content ul.children-li{
    padding-left: 25px;
    padding-right: 40px;
  }

article section.page div.content div.pagination-container{
  text-align: center;
  margin: 25px auto;
  width: 100%;
}
article section.page div.content div.pagination-container ul.pagination {
  display: inline-flex;
  width: auto;
  list-style: none;
  border-radius: 0.25rem;
}

article section.page div.content div.pagination-container ul.pagination li.page-item a.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #027f51;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

article section.page div.content div.pagination-container ul.pagination li.page-item .page-link:hover {
  z-index: 2;
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

article section.page div.content div.pagination-container ul.pagination li.page-item-active a.page-link{
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #fff;
  background-color: #027f51;
  border: 1px solid #dee2e6;
}

article section.page div.content div.pagination-container ul.pagination li.page-item-active .page-link:hover {
  z-index: 2;
  color: #0056b3;
  text-decoration: none;
  background-color: #dee2e6;
  border-color: #e9ecef;
}

article section.page div.content div.pagination-container ul.pagination li.page-item .page-link:focus {
  z-index: 3;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

article section.page div.content div.pagination-container ul.pagination li.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

article section.page div.content div.pagination-container ul.pagination li.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}